body {
    background-color: white;
    max-width: 1000px;
    margin: auto;
    font-family: Arial, sans-serif;
}
h1 {
    text-align: center;
    font-size: 50px;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding: 20px;
    color: orange;
}
.menu {
    margin: 20px 0;
    background-color: rgb(50, 48, 48);
    padding: 20px;
    border: 5px solid orange;
    border-radius: 25px;
}
a {
    text-decoration: none;
    color: orange;
    padding: 10px;
    font-size: 18px;
    border: 2px solid orange;
    border-radius: 5px;
}
a:hover {
    background-color: orange;
    color: black;
}
.elem {
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    max-width: 800px;
}
h2 {
    background-color: rgb(50, 48, 48);
    padding: 20px;
    color: white;
    border-radius: 5px;
    text-align: center;
}
p {
    margin: 10px 0;
    text-align: justify;
    font-size: 16px;
    line-height: 1.6;
}
img {
    width: 100%;
    margin: 15px 0;
    border: 5px solid rgb(50, 48, 48);
    border-radius: 15px;
    padding: 5px;
}